{% block paragraph %}
  {% block content %}

  <h4 class="usa-accordion__heading">
    <button class="usa-accordion__button" aria-expanded="{{ expanded }}" aria-controls="{{ controls }}">
      {{ content.field_title }}
    </button>
  </h4>
  <div id="{{ controls }}" class="usa-accordion__content usa-prose">
    {{ content|without('field_title') }}
  </div>

  {% endblock %}
{% endblock paragraph %}
