{% block paragraph %}
  <div{{ attributes.addClass('hero-slider-background') }} style="background-image: url('{{ file_url(paragraph.field_image.entity.field_media_image.entity.fileuri | image_style('hero_image')) }}');">
    {% block content %}
      <div class="grid-container">
        <div class="usa-hero__callout">
          <h1 class="usa-hero__heading">
            <span class="usa-hero__heading--alt">{{ content.field_title }}</span>
            <span>{{ content.field_subtitle }}</span>
          </h1>
          {{ content.field_body }}
          {% if paragraph.field_button.value %}
            {%
              set classes = [
              'usa-button',
              paragraph.field_button_style.value,
              ]
            %}
            <div{{ attributes.addClass('margin-top-2') }}><a{{ attributes.addClass(classes) }} href="{{ paragraph.field_button.0.url }}">{{ paragraph.field_button.0.title }}</a></div>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
