{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'usa-card__container',
    'text-' ~ paragraph.field_alignment.value
  ]
%}
{%
  set classes_bl = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'usa-card__container',
    'usa-card__container__borderless',
    'text-' ~ paragraph.field_alignment.value
  ]
%}
{% block paragraph %}
  {% if paragraph.field_border.value %}
    <div{{ attributes.addClass(classes) }}>
      {% else %}
    <div{{ attributes.addClass(classes_bl) }}>
      {% endif %}
    {% block content %}
      <header class="usa-card__header">
        <h2 class="usa-card__heading">{{ paragraph.field_title.0.value }}</h2>
      </header>
      {% if paragraph.field_media.value %}
      <div class="usa-card__media">
        <div class="usa-card__img">
          {{ content.field_media }}
        </div>
      </div>
      {% elseif paragraph.field_icon.0.value %}
      <div class="usa-card__media">
        <div class="usa-card__img">
          {{ paragraph.field_icon }}
        </div>
      </div>
      {% endif %}
      <div class="usa-card__body">
          {{ paragraph.field_description.0.value|raw }}
      </div>
      <div class="usa-card__footer">
        {% if paragraph.field_button.value %}
          {%
            set button_classes = [
            'usa-button',
            paragraph.field_button_style.value,
          ]
          %}
          <div class="margin-top-2"><a class="{{ button_classes | join(' ') }}" href="{{ paragraph.field_button.0.url }}">{{ paragraph.field_button.0.value.title }}</a></div>
        {% endif %}
      </div>




    {% endblock %}
  </div>
{% endblock paragraph %}
