{%
  set section_classes = [
  'usa-section',
  'call-to-action',
  paragraph.field_color_theme.value,
  paragraph.field_edge_to_edge.value ? 'full-width-container',
  paragraph.field_background_color.0.value ? paragraph.field_background_color.0.value,
  paragraph.field_image.entity.field_media_image.entity.fileuri ? 'img-background'
]
%}
{% block paragraph %}
  <div{{ attributes }}>
    {% set content_background_classes = '' %}
    {% if paragraph.field_image.entity.field_media_image.entity.fileuri %}
      {% set background_style = "background-image: url('" ~ file_url(paragraph.field_image.entity.field_media_image.entity.fileuri) ~ "'); background-blend-mode: " ~ paragraph.field_background_blend_mode.0.value %}
    {% endif %}
    {% if paragraph.field_text_background.value %}
      {%
        set content_background_classes = [
        'content-background',
        paragraph.field_text_background.value
      ]
      %}
      {% set content_background_opacity = "opacity: " ~ paragraph.field_opacity.0.value %}
    {% endif %}

    {% block content %}

      <section class="{{ section_classes | join(' ') }}" style="{{ background_style }}">
        <div class="grid-container">
          <div class="cta-content {{ content_background_classes | join(' ') }}" style="{{ content_background_opacity }}">
            <h2 class="font-heading-xl">{{ content.field_title }}</h2>
            <div class="usa-intro">{{ content.field_body }}</div>
            {% if paragraph.field_link.value %}
              {%
                set button_classes = [
                'usa-button',
                paragraph.field_button_style.value,
              ]
              %}
              <div class="margin-top-2"><a class="{{ button_classes | join(' ') }}" href="{{ paragraph.field_link.0.url }}">{{ paragraph.field_link.0.value.title }}</a></div>
            {% endif %}
          </div>
        </div>
      </section>

    {% endblock %}
  </div>
{% endblock paragraph %}
